<style>

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #19d294;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }





 
</style>

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Nagarro Logo"
    src="../assets/kfbsfi8dpp82oeql7xap.png"
  />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>
<br>
<br>
<br>
<div class="content" role="main">
  

  <h1 >Table</h1>

  <ngr-users></ngr-users>

</div>

<router-outlet></router-outlet>